asgiref
certifi
charset-normalizer
cloudinary
distlib
dj-database-url
Django
django-cloudinary-storage
django-cors-headers
django-environ
django-filter
djangorestframework
filelock
idna
Markdown
pillow
platformdirs
psycopg2
requests
six
sqlparse
typing_extensions
tzdata
urllib3
virtualenv